{% extends "chores_base.html" %}

{% block content %}

<h1>Children</h1>

{% if children %}
    <ul id="child-list">
        {% for child in children %}
        <li>
            <a href="{% url 'chores:child_detail' child.id %}">{{ child.name }}</a>
            <a href="{% url 'chores:child_edit' child.id %}">edit</a>
            <form action="{% url 'chores:child_delete' child.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="delete" onclick="return confirm('Are you sure you want to delete this?')">
            </form>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No children are available.</p>
{% endif %}

<a href="{% url 'chores:child_new' %}">New</a>

{% endblock %}
