{% extends "chores_base.html" %}

{% block content %}

<h1>Chores</h1>

{% if chores %}
    <ul id="chore-list">
        {% for chore in chores %}
        <li>
            <a class="chore-detail" href="{% url 'chores:chore_detail' chore.id %}">{{ chore.chore.name }} - {{ chore.task.name }}</a>
            <a class="chore-edit" href="{% url 'chores:chore_edit' chore.id %}">edit</a>
            <form action="{% url 'chores:chore_delete' chore.id %}" method="post">
                {% csrf_token %}
                <input class="chore-delete" type="submit" value="delete" onclick="return confirm('Are you sure you want to delete this?')">
            </form>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p id="chore-list">No chores are available.</p>
{% endif %}

<a id="chore-new" href="{% url 'chores:chore_new' %}">New</a>

{% endblock %}
